if [ -f .envrc.local ]; then
  source_env .envrc.local
else
  echo 'Create .envrc.local for setting'
  echo '  $ cp .envrc.local.sample .envrc.local'
  echo '  $ vi .envrc.local'
  echo '  $ direnv reload'
fi