export TWITTER_CONSUMER_KEY=<YOUR TWITTER_CONSUMER_KEY>
export TWITTER_CONSUMER_SECRET=<YOUR TWITTER_CONSUMER_SECRET>
export TWITTER_ACCESS_TOKEN=<YOUR TWITTER_ACCESS_TOKEN>
export TWITTER_ACCESS_SECRET=<YOUR TWITTER_ACCESS_SECRET>